[Unit]
Description=ttrss
After=network.target mysql.service

[Service]
User=www-data
ExecStart=/var/www/ttrss/update_daemon2.php

[Install]
WantedBy=multi-user.target
